---
import Footer from "@/components/Footer.astro";
import BaseHead from "@/components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import { getI18N } from "@/i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <section class="min-h-screen">
            <header>
                <div class="bg-indigo-900 text-center py-4 lg:px-4">
                    <div
                        class="p-2 bg-indigo-800 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex"
                    >
                        <span
                            class="flex rounded-full bg-indigo-500 uppercase px-2 py-1 text-lg font-bold mr-3"
                            >LAB</span
                        >
                        <span class="font-semibold mr-2 text-left flex-auto"
                            >Mapa personalizado para ti</span
                        >
                    </div>
                </div>
            </header>
            <section class="grid">
                <nav class="flex flex-col ml-2 max-w-48 gap-1 mt-2">
                    <label
                        class="appearance-none rounded-md block w-full px-3 py-2 border border-black/20 placeholder-black/80 text-black focus:outline-none focus:z-10 sm:text-sm"
                    >
                        <input
                            type="checkbox"
                            name="caja vecina"
                            id="caja_vecina"
                        /> caja vecina
                    </label>
                    <label
                        class="appearance-none rounded-md block w-full px-3 py-2 border border-black/20 placeholder-black/80 text-black focus:outline-none focus:z-10 sm:text-sm"
                    >
                        <input
                            type="checkbox"
                            name="caja vecina"
                            id="caja_vecina"
                        /> caja vecina
                    </label>
                    <label
                        class="appearance-none rounded-md block w-full px-3 py-2 border border-black/20 placeholder-black/80 text-black focus:outline-none focus:z-10 sm:text-sm cursor-pointer"
                    >
                        <input
                            type="checkbox"
                            name="caja vecina"
                            id="caja_vecina"
                        /> caja vecina
                    </label>
                </nav>
                <div class="min-w-fit min-h-fit" id="map"></div>
            </section>
        </section>
        <Footer />
        <script is:inline>
            import L from "leaflet";
            var map = L.map("map").setView([-41.4598748, -72.9510897, 282], 15);

            L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
                attribution:
                    '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            }).addTo(map);

            L.marker([-41.46106716518632, -72.94890878756738])
                .addTo(map)
                .bindPopup("A pretty CSS popup.<br> Easily customizable.")
                .openPopup();
        </script>
    </body>
</html>
